<div class="md:container md:mx-auto p-4">

  <!-- Page title -->
  <h1 class="text-2xl font-bold text-center bg-clip-text text-transparent bg-gradient-to-r from-downriver-500 to-downriver-600 pb-4">Bingo Card Reader</h1>

  <!-- Step 1 - Select your picture -->
  <div class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow my-4">
    <div class="px-4 py-5 sm:px-6 bg-gradient-to-r from-downriver-500 to-downriver-600">
      <h2 class="text-lg font-semibold text-white">Step 1 - Select your picture 🖼️</h2>
    </div>
    <div class="px-4 py-5 sm:p-6 flex flex-col justify-center">
      <!-- Input to select a picture -->
      <label class="block">
        <span class="sr-only">Choose File</span>
        <input (change)="onFileSelected($event)" type="file" class="block w-full text-sm text-gray-500 focus:outline-none file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-downriver-50 file:text-downriver-700 hover:file:bg-downriver-100"/>
      </label>
    </div>
  </div>

  <!-- 
    Step 2 - Check your selected picture and send it to Azure AI Vision
    Only if user has selected a file
    If it's the right file, user can click on a button to send it to Azure AI Vision
    See Azure OCR service in this Angular app 
  -->
  <div *ngIf="selectedFileUrl" class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow my-4">
    <div class="px-4 py-5 sm:px-6 bg-gradient-to-r from-downriver-500 to-downriver-600">
      <h2 class="text-lg font-semibold text-white">Step 2 - Check your selected picture and send it to Azure AI Vision 🤖</h2>
    </div>
    <div class="px-4 py-5 sm:p-6 flex flex-col justify-center">
      <!-- Display the selected picture -->
      <img class="h-full w-full object-cover p-4" [src]="selectedFileUrl">
      <div class="relative">
        <div class="absolute inset-0 flex items-center" aria-hidden="true">
          <div class="w-full border-t border-gray-300"></div>
        </div>
        <div class="relative flex justify-center">
          <span class="bg-white px-2 text-sm text-gray-500">If it's the right picture, click on the button just below!</span>
        </div>
      </div>
      <!-- Button to send the picture to Azure Vision AI -->
      <button type="button" (click)="upload()" href="#step-3" [disabled]="originalResult" class="rounded-md bg-downriver-600 px-3.5 w-50 py-2.5 mt-4 mx-auto font-semibold text-white shadow-sm hover:bg-downriver-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-downriver-600">Send it to Azure AI Vision 🤖</button>
    </div>
  </div>

  <!-- 
    Step 3 - Check the result and adjust it
    Bag tags are displayed according the result of OCR from Azure AI Vision
    User can add a missing tag
    User can edit the REGEX used to filter result
    User could send the displayed tags to a specific service (non implemented) 
  -->
  <div *ngIf="originalResult" id="step-3" class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow my-4">
    <div class="px-4 py-5 sm:px-6 bg-gradient-to-r from-downriver-500 to-downriver-600">
      <h2 class="text-lg font-semibold text-white">Step 3 - Check the result and adjust it 🔎</h2>
    </div>
    <div class="px-4 py-5 sm:p-6 flex flex-col justify-center">
      
      <!-- Display number of detected bag tags -->
      <h1 class="text-xl font-bold text-start bg-clip-text text-transparent bg-gradient-to-r from-downriver-500 to-downriver-600 pb-4">{{ bags.length }} bag tags detected</h1>
      
      <div class="w-full border-t border-gray-300"></div>

      <!-- Display bag tags detected -->
      <ul role="list" class="my-4 grid grid-cols-1 gap-5 sm:grid-cols-2 sm:gap-6 lg:grid-cols-4">
        <li *ngFor="let bag of bags;let i = index" class="col-span-1 flex rounded-md shadow-sm">
          <label [for]="'bag' + i" class="sr-only">Bag {{ i }}</label>
          <input [(ngModel)]="bag.tagNumber" type="text" [name]="'bag' + i" [id]="'bag' + i" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-downriver-600 sm:text-sm sm:leading-6" placeholder="Your bag tag">
        </li>
        <li class="col-span-1 flex rounded-md shadow-sm">
          <!-- If bag tag is missing according the uploaded picture, user can add a bag tag -->
          <button type="button" (click)="addBag()" class="block w-full rounded-md border-2 border-dashed border-gray-300 py-1.5 text-center shadown-sm hover:border-gray-400 focus:outline-none focus:ring-2 focus:ring-downriver-500 focus:ring-offset-2 text-downriver-500">
            Add a missing bag
          </button>
        </li>
      </ul>

      <div class="w-full border-t border-gray-300"></div>

      <!-- Display the REGEX Expert Mode -->
      <div class="p-4">
        <p class="text-sm text-gray-600 mb-4">
          This is an <span class="font-semibold">Expert Mode</span> feature designed to capture all occurrences matching the regex provided in the input. The <span class="italic">OnChange</span> event will erase all current bag tags detected and find all matches with the new value.
        </p>

        <div class="flex flex-row">
          <!-- Input to edit the REGEX -->
          <label for="regexInput" class="sr-only">Regex</label>
          <input type="text" (input)="onRegexChange($event)" [(ngModel)]="regexPattern" name="regexInput" id="regexInput" class="block w-25 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-downriver-600 sm:text-sm sm:leading-6" placeholder="Regex">
        
          <!-- Link to reset the REGEX -->
          <a type="button" role="button" href="#step-3" (click)="resetRegex()" class="rounded-md bg-downriver-600 px-4 w-100 ms-4 mx-auto px-4 py-1 font-semibold text-white shadow-sm hover:bg-downriver-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-downriver-600">Reset</a>
        </div>

      </div>

      <div class="w-full border-t border-gray-300 mb-4"></div>

      <!-- Unimplemented button to call the right function to send data -->
      <div class="flex flex-col items-center space-y-2">
        <button type="button" (click)="sendBags()" disabled class="px-4 py-2 bg-gray-400 text-white font-semibold text-sm rounded-md cursor-not-allowed" aria-disabled="true">Send bag tags</button>
        <span class="text-xs text-gray-500">Next step is to implement this button to send it wherever you want 🚀</span>
      </div>

    </div>
  </div>


</div>